<%#= build_html_help %>

<div class="contextual">
  <% if User.current.allowed_to?({controller: 'employee_templates', action: 'edit'}, nil, :global => true) %>
    <td align="right"><%= link_to l(:button_edit), edit_employee_template_path(@employee_template), method: :get, class: 'icon icon-edit' %> </td>
  <% end %>
  <% if User.current.allowed_to?({controller: 'employee_templates', action: 'destroy'}, nil, :global => true) %>
    <td align="right"><%= link_to l(:button_delete), employee_template_path(@employee_template), method: :delete, class: 'icon icon-del', :data => {:confirm => (l(:will_be_deleted_message)).sub(/\(s\)/, @employee_template.name).to_s} %> </td>
  <% end %>
</div>

<style type="text/css">
  #plugin_help {
    width: 79.5em !important;
    height: 40em !important;
  }
</style>

<script type="text/javascript">
    $('#helpIcon').click(function () {
        showModal('plugin_help', '60em');
        return false;
    });
</script>