<div class="box tabular" id="employee_template_data">
  <div class="">
    <p>
      <%= f.text_field :scale, required: true %>
    </p>
    <p>
      <%= f.text_field :salary %>
    </p>
  </div>
</div>


