<%= error_messages_for @salary_key %>

<div id="main_o" class="box tabular">
  <p>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.text_field :amount, required: true %>
  </p>
 <p><%= f.text_area :description, required: true, cols: 60, rows: 10, class: 'wiki-edit' %>
</div>